.paper{
    width: 100%;
    /* background-color: rgba(255,255,255,0.1); */
    background: rgb(243, 240, 240);
    padding: 13px;
    border-radius: 7px;
    box-shadow: 5px 7px  30px rgba(0, 0, 0, 0.219);
}